<div class="d-flex flex-column justify-content-center align-items-center">
    <i class="bi bi-activity color-accent" style="font-size: 6rem"></i>
    <h1 class="font-Montserrat f-weight-400 color-primary">Asset Tracking</h1>
</div>