<div>
</div>

<script>
  let resp = JSON.parse("{{ response|escape('js') }}");
  if(resp.message){
    Swal.fire({
    title: resp.mode,
    text: resp.message,
    icon: resp.mode,
    confirmButtonText: "Close",
  });
  }
</script>