<div class="offcanvas offcanvas-start bg-primaryCol vh-100" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 300px;">
    <button type="button" class="btn-close text-reset mt-3 btn-close-white ms-3" data-bs-dismiss="offcanvas" aria-label="Close"></button> 
    <div class="offcanvas-header d-flex flex-column justify-content-center align-items-center mt-3 ">
        <h1 class="font-Montserrat color-white em-2 f-weight-600 mb-3">Menu</h1>
        <div class="w-25 mb-2 color-accent" style="background-color: #F0AB20; height: 5px;"></div>
        <div class="input-group rounded d-flex flex-column justify-content-center align-items-center">
            <input name="search" id="search" type="search" class="form-control rounded font-Montserrat f-weight-400 mb-0" placeholder="Search" aria-label="Search" aria-describedby="search-addon" style="border-color: #F0AB20; margin: 15px; width:90%" />
            <ul class="list-group" id="result" style="width:90%; position:absolute; z-index:1100; top:100%; border-radius:0px 0px 10px 10px"></ul>
        </div>
        
    </div>
    <div class="offcanvas-body">
        <div>
            <ul class="list-unstyled text-center fs-5">
                {% for module in modules %}
                    <li class="nav-item mb-4">
                        <a href="/{{module.1}}" class="nav-link text-white"> <span class="d-none d-sm-inline">{{module.0}}</span> </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    let modulesJson = $.parseJSON('{{ modules|json_encode()|raw }}')
  
    $(document).ready(function(){
        $('#search').keyup(function() {
            $('#result').html('');
            var searchField = $('#search').val();
            var expression = new RegExp(searchField, "i");

            if(searchField){
                $.each(modulesJson, function(key, value){
                    if(value[0].search(expression) !== -1){
                        $('#result').append(
                            `<li class="list-group-item"><a href="/${value[1]}" style="text-decoration: none;">${value[0]}</a></li>`
                        );
                    }
                })
            }
            else{
                $('#result').html('');
            }
            
        });
    });
</script>