<div class="col bg-primaryCol">
    <div class="h-100 d-flex flex-column justify-content-center align-items-center">
        <img class="mb-3" src="./img/sample.png" width="800" height="600">
        <h1 class="font-Montserrat f-weight-600 color-white w-50 text-center">{{appName}}</h1>
    </div>
</div>