<div class="ms-auto d-flex align-items-center">
    <a class="me-2">Home</a>
    <form action="login" method="GET">
        <input type="submit" class="btn btn-primary btn-block" name="login" value="login">
    </form>
</div>