<div class="container-fluid p-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="navbar-brand font-Montserrat f-weight-700" href="#">{{appName}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </li>
        </ul>
        <div class="d-flex  align-items-center nav-item dropdown-center me-3">

   
        <span class="nav-item me-3 ms-auto font-Montserrat f-weight-400">
            {{userName}}
            {% if userType == '1' %}
                <i class="bi bi-star-fill color-accent"></i>
            {% endif %}
        </span>

        <span><i class="nav-item me-3 bi bi-file-person-fill"></i></span>

        
        <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </a>

        <ul class="dropdown-menu dropdown-menu-end" style="border: 0.5px solid #000000;">
            <li><a class="btn font-Montserrat f-weight-400" href="#">Profile</a></li>
            <li><a class="btn font-Montserrat f-weight-400" href="#">Settings</a></li>
            <li>
                <form action="logout" method="POST">
                    <input type="submit" class="btn font-Montserrat f-weight-400" name="logout" value="Logout">
                </form>
            </li>
        </ul>
        </div>
    </div>
</div>