{% extends '/templates/twoColumnTemplate.html' %}


{% block column1 %}
    {% include '/components/sideLogo.html'%}   
{% endblock %}


{% block column2 %}
    <div class="col">
        {% include '/components/navbar.html' with {'isLogged' : isLogged, 'userName' : userName} %}
        <div class="h-100 d-flex flex-column justify-content-center align-items-center">
            <h1>Log in</h1>
            <div>
                <form action="login" method="POST">
                   <!--Security Questions input-->
                    <div class="form-outline mb-4">
                        <input name="graduationYear" type="text" class="form-control" />
                        <label class="form-label" for="form3Example5">Highschool graduation year</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input name="firstPet" type="text" class="form-control" />
                        <label class="form-label" for="form3Example6">First pet</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input name="cityBorn" type="text" class="form-control" />
                    <label class="form-label" for="form3Example7">City born</label>
                    </div>       
                    <input type="submit" class="btn btn-primary btn-block mb-4" name="Submit" value="submit">   
            </form>
            </div>
    </div>
    </div>
{% endblock %}