{% extends 'views/templates/twoColumnTemplate.html' %}


{% block column1 %}
    <div class="col bg-primary">
        <div class="h-100 d-flex justify-content-center align-items-center">
            <h1>Left Column</h1>
        </div>
    </div>
{% endblock %}


{% block column2 %}
    <div class="col bg-secondary">
        <div class="h-100 d-flex justify-content-center align-items-center">
            <h1>Right Column</h1>
        </div>
    </div>
{% endblock %}