{% extends 'views/templates/mainTemplate.html' %}

{% block content %}


    <div class="container-fluid rppit-mc-p1">
        <h1 class="color-accent font-Montserrat fw-bold display-5 mt-4 mb-4 ms-3">Users</h1>
        <div class="w-100 p-3">
            <table id="table" 
                     data-toggle="table"
                     data-search="true"
                     data-filter-control="true" 
                     data-show-export="true"
                     data-click-to-select="true"
                     data-toolbar="#toolbar"
               class="table-responsive mb-2">
            <thead>
                <tr>
                    <th data-field="firstName"data-sortable="true">First Name</th>
                    <th data-field="lastName" data-sortable="true">Last Name</th>
                    <th data-field="email" data-sortable="true">Email</th>
                    <th data-field="status" data-sortable="true">Status</th>
                    <th data-field="roles" data-sortable="false">Roles</th>
                    <th data-field="actions" data-sortable="false">Actions</th>
                </tr>
            </thead>
            <tbody>      
                {% set counter = 0 %}
                {% for user in users %}
                    <tr>
                        <td class="font-Montserrat f-weight-400">{{ user.firstName }}</td>
                        <td class="font-Montserrat f-weight-400">{{ user.lastName }}</td>
                        <td class="font-Montserrat f-weight-400">{{ user.email }}</td>
                        <td class="">
                            {% if user.approved == 1 %}
                                {# <span class="badge rounded-pill text-bg-success font-Montserrat f-weight-300 em-1">Approved</span> #}
                                <small class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">Approved</small>
                            {% else %}
                                {# <span class="badge rounded-pill text-bg-secondary font-Montserrat f-weight-300 em-1">Pending</span> #}
                                <small class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-secondary bg-secondary bg-opacity-10 border border-success border-opacity-10 rounded-2">Pending</small>
                            {% endif %}
                            
                        </td>
                        <td>
                            {% for role in userRoles[user.id] %}
                                {% if user.id == role.user_id %}
                                    <small class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-secondary bg-secondary bg-opacity-10 border border-success border-opacity-10 rounded-2">{{role.role_name}}</small>
                                {% else %}
                                    {{role.user_id}}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <button type="button" class="btn button-accent font-Montserrat f-weight-400" data-bs-toggle="modal" data-bs-target="#editModal" data-roles="{{roles | json_encode}}" data-userroles="{{userRoles[user.id] | json_encode}}" data-row = "{{user.firstName}},{{user.lastName}},{{user.email}},{{user.id}},{{user.approved}}" id="editButton{{counter}}">
                                edit
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal" id="removeButton{{counter}}" data-row = "{{user.firstName}},{{user.lastName}},{{user.id}}">
                            <i class="bi bi-trash3-fill"></i>
                            </button>
                            <script defer>
                                $("#editButton{{counter}}").click(function() {
                                    
                                    let userRoles = $("#editButton{{counter}}").data("userroles");
                                    console.log(userRoles)
                                    let roles = $("#editButton{{counter}}").data("roles")
                                    console.log(roles)
                                    let row = $("#editButton{{counter}}").data("row").split(",");
                                    console.log(row)
                                    $("#mod-in-firstName").val(row[0])
                                    $("#mod-in-lastName").val(row[1])
                                    $("#mod-in-email").val(row[2])
                                    $("#mod-in-id").val(row[3])
                                    $("#mod-in-row").val(`${row[0]},${row[1]},${row[2]},${row[3]},${row[4]}`)
                                    
                                    if(row[4] == 1){
                                        $("#approvedCheckbox").prop('checked', true);
                                    }
                                    else{
                                        $("#approvedCheckbox").prop('checked', false);
                                    }
                                    let currentRoles = [];
                                    userRoles.forEach(e => {
                                        currentRoles.push(e['role_id']);
                                    })

                                    console.log(currentRoles);

                                    roles.forEach(e => {
                                        if(currentRoles.includes(e['id'])){
                                            $('#roles').append(`
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name=${e['role_name']} checked>
                                                    <input name='${e['role_name']}_id' value=${e['id']}  hidden>
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        ${e['role_name']}
                                                    </label>
                                                </div>
                                            `)
                                        }
                                        else{
                                            $('#roles').append(`
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name=${e['role_name']}>
                                                    <input name='${e['role_name']}_id' value=${e['id']}  hidden>
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        ${e['role_name']}
                                                    </label>
                                                </div>
                                            `)
                                        }
                                        
                                    }) 
                                });
                            </script>
                            <script defer>
                                $("#removeButton{{counter}}").click(function(){
                                    let row = $("#removeButton{{counter}}").data("row").split(",")
                                    $("#remove-mod-prompt").text(`Do you want to delete ${row[0]} ${row[1]}'s row?`)
                                    $("#remove-mod-id").val(`${row[2]}`)
                                });
                            </script>
                        </td>
                    </tr>
                {% set counter = counter + 1 %}
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn button-accent font-Montserrat f-weight-400 mt-4" data-bs-toggle="modal" data-bs-target="#createModal" >Add New User</button>
        </div>
    </div>


    {% include 'views/components/modals/users/editModal.html' %}
    {% include 'views/components/modals/users/removeModal.html' %}
    {% include 'views/components/modals/users/createModal.html' %}
{% endblock %}