<div class="modal fade" id="removeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Remove Role</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label id="remove-role-prompt"></label>
            <form action="roles" method="POST">
              <input id="remove-role-id" name="id" value="" type="hidden" class="form-control"/>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button name="remove" value="remove" type="submit" class="btn button-accent">Remove</button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>