<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Change Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="profile" method="POST">             
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input id="oldPassword" name="oldPassword" type="password" class="form-control"/>
                        <label class="form-label" for="form3Example3">Old Password</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input id="newPassword" name="newPassword" type="password" class="form-control"/>
                        <label class="form-label" for="form3Example3">New Password</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input id="confirmNewPassword" name="confirmNewPassword" type="password" class="form-control"/>
                        <label class="form-label" for="form3Example3">Confirm New Password</label>
                    </div>

        
                    <!-- Submit button -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button name="changePassword" value="Change Password" type="submit" class="btn button-accent">Change Password</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
  </div>