

.font-Montserrat{
    font-family: 'Montserrat', sans-serif;
}

.f-weight-300{
    font-weight: 300;
}
.f-weight-400{
    font-weight: 400;
}
.f-weight-600{
    font-weight: 600;
}
.f-weight-700{
    font-weight: 700;
}

.em-2{
    font-size: 2em;
}

.em-1h{
    font-size: 1.5em;
}
.em-1{
    font-size: 1em;
}

.color-white{
    color: white;
}
.color-primary{
    color: #18345e;
}
.color-secondary{
    color: #D9D9D9;
}
.color-accent{
    color: #1a85a2;
}
.color-link{
    color: #22C1DC;
}

.bg-primaryCol{
    background-color: #33c3dd;
}
.bg-secondaryCol{
    background-color: #775a5a;
}
.bg-accentCol{
    background-color: #F0AB20;
}

.backgroundCol{
    background-color: #ffffff;
}


.button-accent{
    --bs-btn-color: #fff;
    --bs-btn-bg: #F0AB20;
    --bs-btn-border-color: #f8ad17;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d6991e;
    --bs-btn-hover-border-color: #ce9117;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F0AB20;
    --bs-btn-active-border-color: #bd8516;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

.sidenav{
    z-index: 1035;
}

/* Red Pepper IT Input Box Style 1 */
.rppit-inbx-s1{
    background-color: #F4F2F2;
    align-items: center;
	width: 100%;
	height: 3rem;
	border-radius: 6px;
	border-style: none;
}

/* Red Pepper IT Input Box Style 2 */
.rppit-inbx-s2{
    background-color: #F4F2F2;
    align-items: center;
	min-width: 300px;
    max-width: 40%;
	height: 3rem;
	border-radius: 6px;
	border-style: none;
}

.parentWidth{
    width:100%
}

.shadow{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

/* Main Content Padding Style 1*/
.rppit-mc-p1{
    padding: 50px 100px 0px 100px;
}